@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/*desktop*/
*{
    padding: 0 auto;
    margin: 0 auto; 
}
body {
    font-family: 'Nunito';
}



@media only screen and (max-width:1440px) and (min-width: 900px){
   
    body {
       display: flex;
   }

   header {
       width: 25vw;
       color: white;
       background-color: black;
   }
   .Logo {
       width: 24vw;
   }

   main{
        width: 75vw;
        height: 117.1vh;
    }
    
    a,li {
        display: block;
        color: white;
        padding: 4px 14px;
        font-size: 25px;
        text-decoration: none;
    }

    .Offerblock {
        width: 75vw;
        height: 60px;
        border-bottom: solid #00000040;
        background-color: #e18a81;
    }

    .Aanbieding {
        padding-top: 1%;
        font-family: 'Nunito';
        text-align: center;
        font-size: 30px;
        
        
    }

    .Slideshowimg {

        width: 75vw;
    }
    
    .Offerblock2 {
        display: none;
        width: 75vw;
        height: 60px;
        border-bottom: solid #00000040;
        background-color: #e18a81;
    }

    .Aanbieding2 {
        display: none;
        padding-top: 1%;
        font-family: 'Nunito';
        text-align: center;
        font-size: 30px;
        
        
    }

    .Events {
        width: 75vw;
        height: 20vh;
        top: 50px;
        
    }

    .Eventshblock {
    
        margin-left: auto;
        margin-right: auto;
        width: 8em;
        width: 350px;
        height: 70px;
        background-color: white;
        border: solid black 2px;
    
    }

    h1 {
        text-align: center;
        
    }

    .Eventsblock {
        width: 75vw;
        height: 35vh;
        margin-top: 50px;
        
    }

    .column {
        float: left;
        padding-left: 5px;
        width: 20vw;
        padding: 20px; 
    }
    .EventImg {
       
        width: 10vw;
    }

    

  

}




/*Ipad-tablet*/
@media only screen and (max-width:1024px) and (min-width: 786px){

    body {
        display: flex;
    }
 
    header {
        width: 25vw;
        color: white;
        background-color: black;
    }

   
   
    .Logo {
        width: 24vw;
    }
 
    main{
         width: 75vw;
         height: 147vh;
        
    }

    a,li {
        display: block;
        color: white;
        padding: 4px 14px;
        font-size: 25px;
        text-decoration: none;
    }

    .Offerblock {
        width: 75vw;
        height: 60px;
        border-bottom: solid #00000040;
        background-color: #e18a81;
    }

    .Aanbieding {
        padding-top: 1%;
        font-family: 'Nunito';
        text-align: center;
        font-size: 26px;
        
        
    }

    .Slideshowimg {

        width: 75vw;
    }
    
    .Offerblock2 {
        display: none;
        width: 75vw;
        height: 60px;
        border-bottom: solid #00000040;
        background-color: #e18a81;
    }

    .Aanbieding2 {
        display: none;
        padding-top: 1%;
        font-family: 'Nunito';
        text-align: center;
        font-size: 30px;
        
        
    }

    .Events {
        width: 65vw;
        height: 20vh;
        top: 50px;
        
    }

    .Eventshblock {
    
        margin-left: auto;
        margin-right: auto;
        width: 8em;
        width: 350px;
        height: 70px;
        background-color: white;
        border: solid black 2px;
    
    }

    h1 {
        text-align: center;
        
    }

    .Eventsblock {
        width: 50vw;
        height: 35vh;
        margin-top: 50px;
        
    }

    .column {
        float: left;
        padding-left: 5px;
        width: 45vw;
        padding: 20px; 
    }
    .EventImg {
       
        width: 10vw;
    }
    
}


/*Telefoon*/
@media only screen and (max-width:740px) and (min-width: 360px){

    body {
        
    }

    li, a {
        display: none;
        font-weight: 500;
        font-size: 15px;
        color: rgb(207, 207, 207);
        text-decoration: none;
    }
 
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10%;
        
        
        background-color: black;
    }
    .Logo {
        
        width: 50vw;
        
    }
 
    main{
       
         width: 100vw;
         
    }
    
    .Offerblock {
        display: none;
        width: 75vw;
        height: 60px;
        border-bottom: solid #00000040;
        background-color: #e18a81;
    }

    .Aanbieding {
        display: none;
        padding-top: 1%;
        font-family: 'Nunito';
        text-align: center;
        font-size: 30px;
        
        
    }

    .Slideshowimg {
        width: 75vw;
    }

    .Offerblock2 {
        margin-top: 8%;
        width: 100vw;
        height: 60px;
        border-bottom: solid #00000040;
        border-top: solid #00000040;
        background-color: #e18a81;
    }

    .Aanbieding2 {
        padding-top: 1%;
        font-family: 'Nunito';
        text-align: center;
        font-size: 20px;
        
        
    }
    
    .Events {
        margin-top: 10%;
        width: 100vw;
        height: 18vh;
       
        
    }

    .Eventshblock {
        width: 245px;
        height: 70px;
      
        border: solid black 2px;
    
    }

    h1 {
        
        text-align: center;
        
    }

    .Eventsblock {
        
        width: 100vw;
        height: 105vh;
        margin-top: 50px;
       
    }

    .column {
        padding-left: 5px;
        width: 60vw;
        padding: 20px; 
    }
    .EventImg {
       
        width: 50vw;
    }

    

}