@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/* telefoon */
@media screen and (min-width: 360px) and (max-width:740px){

}
/* Tablet */
@media only screen and (max-width:1024px) and (min-width: 768px){

}
/* Desktop*/
@media only screen and (max-width:1440px) and (min-width: 900px){
    *   {
        margin: 0 auto;
        padding: 0 auto; 

    }

    body{
        display: flex;
    }

    header img {
        height: 150px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    header {
        background-color: black;
        width: 24vw;
        height: 250vh;
        display: flex;
        justify-content: center;
        text-align: left;
    }

    nav a { 
        text-decoration: none;
        padding: 0vh 2vw;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
        font-family: 'Nunito', sans-serif;
    }

    nav a:hover {
        background-color: #3d4d58;
    }

    header li {
        list-style: none;
    }

    #aanbiedingtekst p {
        display: flex;
        justify-content: center;
        font-family: 'Nunito', sans-serif;
        text-align: center;
    }
    main {
        display: flex;
        justify-content: center;
        font-family: 'Nunito', sans-serif;
        text-align: center;
        flex-direction: column;
        
    }

}