@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600&display=swap');
* {
    margin: 0;
}

body {
    display: flex;
}
header {
    width: 25vw;
    height: 100vh;
    background-color: black;
    list-style: none;
    position: flex;
    margin: 0vw;
}
header img{
    width: 24vw;
}
header ul {
    list-style: none;
    font-family: 'Nunito', sans-serif;
    color: white;
    text-decoration: none;
}
nav a { 
    text-decoration: none;
    padding: 0vh 2vw;
    font-size: 1.5rem;
    position: sticky;
    left: 20px;
    color: white;
    font-family: 'Nunito', sans-serif;
    top: 20px;
}
nav a:hover {
    color: pink;
}
main {
    width: 75vw;
}
main img{
    width: 1080px;
    height: 250px;
    object-fit: cover;
    align-items: center;
}
#bar {
    background-color: pink;
    height: 50px;
    width: 100%;
}
main h3 {
    flex-wrap: wrap;
    text-align: center;
    padding: 15px;
}
#title{
    text-align: center;
    padding-top: 10vh;
    padding: 1px 9px 1px;
    border-radius: 54px;
    box-shadow: 0px 2px 7px grey;
    background: white;
    color: black;
    font-family: 'Nunito', sans-serif;
    justify-content: center;
  }
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    padding: 50px;

}
.aanbieding img{
    width: 250px;
    height: 200px;
    object-fit: "fill";
    align-items: center;
}
.aanbieding {
    text-align: center;
    display: grid;
    font-family: 'Nunito', sans-serif;
  }
.aanbieding p{
    padding: 10px;
}
.aanbieding h4 {
    font-size: 30px;
    
}
.aanbieding-img {
    background-color: rgba(236, 236, 236, 0.6);
    width: 80%;
    padding: 20px;
}

/* mobiel */
@media screen and (max-width: 740px) {
    * {
    margin: 0;
}
    body {
        display: flex;
    }
    header {
        display: none;
    }
    header img{
        display: none;
    }
    header ul {
        display: none;
    }

    main {
        position: flex;
        
    }
    main img{
        width: 360px;
        height: 100px;
        object-fit: cover;
        align-items: center;
    }
    #bar {
        background-color: pink;
        height: 45px;
        width: 100vw;
    }
    main h3 {
        flex-wrap: wrap;
        text-align: center;
        padding: 12px;
    }
    #title{
        text-align: center;
        padding-top: 10vh;
        padding: 1px 9px 1px;
        border-radius: 54px;
        box-shadow: 0px 2px 7px grey;
        background: white;
        font-family: 'Nunito', sans-serif;
        justify-content: center;
        margin-left: 3vw;
      }
    .container {
        display: grid;
        grid-template-columns: auto;
        column-gap: 10px;
        padding: 10px;
    
    }
    .aanbieding img{
        width: 250px;
        height: 200px;
        object-fit: "fill";
        align-items: center;
    }
    .aanbieding {
        text-align: center;
        display: grid;
        font-family: 'Nunito', sans-serif;
      }

      .aanbieding-img {
        background-color: rgba(236, 236, 236, 0.6);
        width: 75%;
    }
    
}